@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,600;1,700;1,800&display=swap");
body {
  background-color: rgb(20, 20, 20);
}
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

:root {
  --first-color: #0074ff;
  --second-color: #0e2431;
}

:root {
  --body-font: "Cinzel", serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.6rem;
  --a-font: "Poppins", sans serif;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2.5rem;
    --normal-font-size: 1rem;
  }
}
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
*,
::befor,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,
h2,
p {
  margin: 0;
  color: rgba(255, 255, 255, 0.781);
}
section.home {
  background: no-repeat center center / cover;
  background-image: url(img/HERO-IMG.png);
}
i.bx.bx-menu::before {
  color: #fff;
}
i.bx.bxl-linkedin::before {
  color: #fff;
}
i.bx.bxl-behance::before {
  color: #fff;
}
i.bx.bxl-github::before {
  color: #fff;
}
a.button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 0px;
}
p.ux-slogan{
  font-family: 'Poppins',sans serif;
  font-weight: 500;
  color: #000000;
  margin-left: 50px;
  padding-bottom: 60px;
}
p.about__text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
span.skills__name {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}
span.skills__percentage {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.nav__list{
  font-size: 16px;
}
a.nav__logo {
  color: #fff;
  margin-left: 40px;
}
a.nav__link {
  color: #fff;
}

a {
  text-decoration: none;
}
h1.home__title {
  font-family: 'Cinzel';
  font-size: 28px;
  font-weight: 500;
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 0px;
 }
 span.home__title-color{
   font-family: 'Cinzel';
   font-size: 34px;
}
h1 .ux_ui_text {  
  font-family: 'Cinzel';
  font-size: 28px;
 margin-bottom: 24px;
}
a.button {
  margin-left: 50px;
  padding: 12px 24px;
}
/*img {
  width: cover;
  height: auto;
  display: block;
} */
h2.section-title {
  position: relative;
  font-size: 30px;
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-3);
  text-align: center;
}

h2.about__subtitle{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 28px;
}
p.about__text{
  font-size: 15px;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 0.10rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 1rem;
  background-color: var(--first-color);
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-1);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #1f1f1f;
  box-shadow: 0 1px 4px rgba(250, 250, 250, 0.15);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

span.skills__name {
  color: #fff;
}
span.skills__percentage {
  color: #fff;
}
h2.skills__subtitle{
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
  font-size: 28px;

}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 50%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }

  section.home {
    background: no-repeat center center / cover;
    background-image: url(img/HERO-IMG.png);
    background-position: 80% 0;
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: #fff;
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__logo {
  color: var(--second-color);
}
.nav__toggle {
  color: var(--second-color);
  font-size: 2rem;
  cursor: pointer;
}
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.show {
  right: 0;
}
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data {
  align-self: center;
}
h1.home__title {
  font-size: 30px;
  
  margin: 0px 0px 0px 30px;
  margin-left: 14px;
}
.home__title-color {
  color: #0c0b0a;
}

.home__social {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  margin-top: -20px;
}
.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
  margin-left: 0px;
}
.home__social-icon:hover {
  color: var(--first-color);
}
p.ux-slogan{
  margin-left: 15px; 
  padding-bottom: 36px;
}
a.button {
  margin-left: 14px;
  padding: 12px 20px;
}
span.home__title-color{
  font-size: 32px;
}
span.ux_ui_text {
 font-size: 26px;
}
.button {
  display: inline-block;
  background-color: var(--first-color);
  background-image: linear-gradient(to top right,  #0074ff,  #318eff);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
}
.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
.section-title::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 0.10rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.2rem;
  background-color: var(--first-color);
}
/*----ABOUT*/
*/ .about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
  text-align: center;
}
h2.about__subtitle{
  font-size: 24px;
  letter-spacing: 0.25px;
}

p.about__text{
  font-size: 14px;
  font-weight: 300;
} 
h1.random{
  position: relative;
  text-align: center;
  font-family: 'Poppins', serif;
  font-size: 24px;
  letter-spacing: 0.25px;
  font-weight: 400;
}

h2.skills__subtitle{
  font-size: 24px;
  letter-spacing: 0.25px;
}
p.random-p{
  position: relative;
  text-align: center;
  font-family: 'Poppins', serif;
}

.about__img {
  justify-self: center;
  padding-bottom: 24px;
 
  
}
.about__img img {
  width: 300px;
  border-radius: 0.5rem;
}

//*----SKILS----*//
.skills__container {
  row-gap: 1rem;
  text-align: center;
}
.skills__subtitle {
  margin-bottom: var(--mb-1);
  text-align: center;
}
.skills__text {
  margin-bottom: var(--mb-4);
}
.about__text {
  text-align: center;
}
.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(66, 186, 255, 0.164);
}
.skills__names {
  display: flex;
  align-items: center;
}
.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}

.skills_html {
  width: 95%;
}
.skills_css {
  width: 85%;
}
.skills_js {
  width: 80%;
}
.skills_ux {
  width: 60%;
}
div.skills__container {
  position: relative;
  justify-items: center;
  margin: auto;
  width: 320px;
}
.img__guitarist{ 
  position: relative;
  width: 150px;
    justify-self: center;
    padding-bottom: 24px;
    width: 300px;
    border-radius: 0.5rem;
  }


.work {
  text-align: center;
}
.work__container {
  row-gap: 0.5rem;
}
.work__img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 320px;
  position: relative;
  margin: auto;
 
}
.kvadrat-slika1{
display: block;
position:relative;
background-color: #6205a0;
background-image: linear-gradient( to top right, #6300a5, #a217ff );
width: 300px;
height: 200px;
text-align: center;
margin: auto;
justify-content: center;
align-items: center;
border-radius: 0.5rem;
}
span.button-sliki{
  display: block;
  font-family: 'Cinzel';
  font-size: 50px;
  font-weight: bolder;
  text-decoration: none;
  color: #fff;
  padding-top: 68px;  
}


.kvadrat-slika2{
  display: block;
  position:relative;
  background-color: #c4081b;
  background-image: linear-gradient( to top right, #c4081b,  #ff2037 );
  width: 300px;
  height: 200px;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  }
  span.button-sliki2{
    display: block;
    font-family: 'Cinzel';
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
    padding-top: 68px;
  }
    
    .kvadrat-slika3{
      display: block;
      position:relative;
      background-color: #0662c4;
      background-image: linear-gradient( to top right, #0662c4,  #1887fd );
      width: 300px;
      height: 200px;
      text-align: center;
      margin: auto;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      }
      span.button-sliki3{
        display: block;
        font-family: 'Cinzel';
        font-size: 34px;
        font-weight: bolder;
        text-decoration: none;
        color: #fff;
        padding-top: 74px;
      }  
      .kvadrat-slika4{
        display: block;
        position:relative;
        background-color: #d4a600;
        background-image: linear-gradient( to top right, #ad8800,  #fccb1a );
        width: 300px;
        height: 200px;
        text-align: center;
        margin: auto;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        }
        span.button-sliki4{
          display: block;
          font-family: 'Cinzel';
          font-size: 32px;
          font-weight: bolder;
          text-decoration: none;
          color: #fff;
          padding-top: 74px;
        } 
        .kvadrat-slika5{
          display: block;
          position:relative;
          background-color: #0d7e2f;
          background-image: linear-gradient(to top right, #0d7e2f, #13da4e );
          width: 300px;
          height: 200px;
          text-align: center;
          margin: auto;
          justify-content: center;
          align-items: center;
          border-radius: 0.5rem;
          }
          span.button-sliki5{
            display: block;
            font-family: 'Cinzel';
            font-size: 32px;
            font-weight: bolder;
            text-decoration: none;
            color: #fff;
            padding-top: 74px;
          } 


.work__img img {
 
  transition: 1s;
  cursor: pointer;
  width: 300px;
}
.work__img img:hover {
  transform: scale(1.1);
}

/*----CONTACT----*/
.contact__input {
  width: 90%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

.contact__form {
  position: relative;
  justify-items: center;
  margin: auto;
  width: 320px;
  padding-bottom: 40px;
}
.contact__input{
  padding: 12px;
  margin-bottom:14px ;
}

.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: o var(--mb-2);
  padding: 0 20px;
}
.copyright {
  font-size: 10px;
  font-weight: 300;
}

/*----MEDIA QUERIES----*/

@media screen and (min-width: 768px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-tittle {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  p.ux-slogan{
    margin-left: 51px; 
  }
  .nav {
    height: calc(var(--header-height) +3rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    height: 100vh;
  }
  h1.home__title {
    padding: 24px 24px;
    margin-left: 25px;
    font-size: 36px;
  }
  span.home__title-color{
    font-size: 40px;
  }
  span.ux_ui_text{
    font-size: 36px;
  }
  p.ux-slogan{
    font-size: 18px;

  }
  a.button {
    margin-left: 50px;
    padding: 12px 24px;
  }

  .home__data {
    align-self: flex-end;
  }
  .nav__logo {
    margin-left: 24px;
    font-size: 18px;
  }
  .home__social {
    margin-left: 50px;
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .about__container,
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img {
    width: 300px;
  }
  .work__container {
    row-gap: 1rem;
  }
  .work__img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;
    width: 380px;
    position: relative;
    justify-items: center;
    margin: auto;
  }
  .work__img img {
    transition: 1s;
    cursor: pointer;
    width: 360px;
  }
  .contact__form {
    position: relative;
    justify-items: center;
    margin: auto;
    width: 380px;
    padding-bottom: 40px;
  }
  .contact__input{
    padding: 12px;
    margin-bottom:14px ;
  }
 
#contact {
  justify-items: center;
}
div.skills__container {
  position: relative;
  justify-items: center;
  margin: auto;
  width: 440px;
}

@media screen and (min-width: 1024px) {
  .bd-grid {
  
    margin-left: auto;
    margin-right: auto;
  }
  h1.home__title {
    font-family: 'Cinzel';
    font-size: 40px;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 24px;
    margin-bottom: 0px;
   }
   span.home__title-color{
     font-family: 'Cinzel';
     font-weight: bold;
     font-size: 43px;
  }
  h1 .ux_ui_text {  
    font-family: 'Cinzel';
    font-size: 36px;
    
    margin-bottom: 24px;
  }
  p.ux-slogan {
    font-size: 18.5px;
    margin-left: 78px;
  }
  a.button {
    margin-left: 78px;
    padding: 12px 24px;
  }
 
 h2{
   font-size: 30px;
 }
  div.home__social {
    margin-left: 50px;
  }
  a.home__social-icon {
    padding: 0 2px;
    text-align: inherit;
    margin-left: 28px;
  }
  h2.about__subtitle{
    margin-bottom: 0px;
  }
  p.about__text{
    padding: 0px 0px;
    font-size: 15px;
  }
  div.skills__container {
    position: relative;
    justify-items: center;
    margin: auto;
    width: 540px;
  }
  
  .section-tittle {
    margin-bottom: var(--mb-4);
    padding: 100px 0px;
  }
  .contact__form {
    position: relative;
    justify-items: center;
    margin: auto;
    width: 440px;
    padding-bottom: 40px;
  }
  div.skills__container{
    width: 620px;
  }
  span.skills__name{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px; 
 }
 span.skills__percentage {
  font-size: 16px;
  font-weight: 300;
 }
  .random__section{
    font-family: 'Poppins';
    text-align: center;
    position: relative;
    margin:auto;
  }
  h2.skills__subtitle{
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  p.about__text{
    font-size: 15px;
    padding-top:20px ;
    font-weight: 300;
  }


  h1.random{
    font-family: 'Poppins', serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
 
  p.random-p{
    font-size: 16px;
    padding-top:10px ;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .contact__input{
    padding: 16px;
    margin-bottom:16px ;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0.1rem;
    row-gap: 2.5rem;
   
  }
}
